= form_for @incident do |f|
  - if @incident.errors.any?
    #error_explanation
      %h2= "#{pluralize(@incident.errors.count, "error")} prohibited this incident from being saved:"
      %ul
        - @incident.errors.full_messages.each do |msg|
          %li= msg

  .form-group.row
    = f.label :title, class: 'form-control-label col-sm-2'
    .col-sm-10
      = f.text_field :title, class: 'form-control'
  .form-group.row
    = f.label :summary, class: 'form-control-label col-sm-2'
    .col-sm-10
      = f.text_area :summary, class: 'form-control'
  -#
    .form-group.row
      = f.label :happened_at, class: 'form-control-label col-sm-2'
      .col-sm-10
        = f.datetime_select :happened_at, class: 'form-control'
  -#
    .field
      = f.label :resolved_at
    = f.datetime_select :resolved_at
  .form-group.row
    = f.label :meta, class: 'form-control-label col-sm-2'
    .col-sm-10
      = f.text_area :meta, value: @incident.meta.to_yaml, class: 'form-control'
  .form-group.row
    = f.submit 'Save'
