.row.update
  .col-sm-2
    = time_tag update.created_at
  .col-sm-10
    .update-head
      %h3
        - case update.change['state']
        - when 'open'
          Opened
        - when 'monitoring'
          Monitoring
        - when 'resolved'
          Resolved
        - when 'closed'
          Closed
        - when nil
          Update
        - else 
          = update.change['state']
    .update-comment
      - if update.comment
        = render_markdown update.comment
    .update-changes
      - if update.change
        %button{class: 'btn btn-link update-changes_btn_show_full'} Show full changes
        %ul
          - update.change.each do |attr, value|
            %li
              %code #{attr}
              changed
              - if attr != 'summary'
                to
                %code= value.inspect
    .update-changes-full{style: 'display: none;'}
      - if update.change
        %button{class: 'btn btn-link update-changes_btn_show_summarized'} Show summarized changes
        %ul
          - update.change.each do |attr, value|
            %li
              = attr
              %pre
                - if value.kind_of?(String)
                  = value
                - else
                  = value.to_yaml


