%h1 Incidents

%p
  = link_to 'New Incident', new_incident_path

%section.incidents
  - @incidents.each do |incident|
    .row
      .col-md-2
        #{l(incident.created_at, format: :short)}
      .col-md-10
        = link_to incident do
          #{incident.type_name}: #{incident.title}


