%section.incident
  .card.incident-details
    %h1.incident-title.card-header Incident: #{@incident.title}

    .card-block
      .incident-data
        State: #{@incident.state},
        Happened at: #{@incident.happened_at},
        Resolved at: #{@incident.resolved_at},
        Reported at: #{@incident.created_at},
        Last updated: #{@incident.updated_at}

      .incident-summary
        = render_markdown @incident.summary

  .incident-updates
    %h2 Updates

    - @incident.updates.order('created_at DESC').each do |update|
      = render 'update', update: update
    -#
      .incident-meta
        %pre= @incident.meta.to_yaml


= link_to 'Edit', edit_incident_path(@incident)
\|
= link_to 'Back', incidents_path
