%section.incident.card
  %h1.incident-title.card-header Incident: #{@incident.title}

  .incident-details.card-block
    .incident-data
      State: #{@incident.state},
      Happened at: #{@incident.happened_at},
      Resolved at: #{@incident.resolved_at}

    .incident-summary
      = render_markdown @incident.summary

    -#
      .incident-meta
        %pre= @incident.meta.to_yaml

= link_to 'Edit', edit_incident_path(@incident)
\|
= link_to 'Back', incidents_path
